<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.peixin.mapper.UserMapper">

    <insert id="save" parameterType="user">
        insert into user
        values (#{id}, #{username}, #{password}, #{birthday})
    </insert>
    <select id="findById" resultType="user" parameterType="int">
        select *
        from user
        where id = #{id}
    </select>

    <!--一对多查询-->
    <resultMap id="userMap" type="user">
        <id column="uid" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>

        <!--配置集合-->
        <!--
        private List<Order> orderList;
        property:集合名称  orderList
        JavaType：当前集合中的数据类型  order
        -->
        <collection property="orderList" ofType="order">
            <id column="oid" property="id"/>
            <result column="ordertime" property="ordertime"/>
            <result column="total" property="total"/>

        </collection>

    </resultMap>
    <select id="findAll" resultMap="userMap">
        select *, o.id oid
        from `user` u,
             `order` o
        where u.id = o.uid
    </select>


    <!--多对多查询-->
    <resultMap id="userRoleMap" type="user">

        <!--封装user的信息-->
        <id column="userId" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>

        <!--column就是从数据库里面定义的名称，property是你自己定义的role类里面的对象
        其实就是中间表里面的数据-->
        <!--封装roleList的信息-->
        <collection property="roleList" ofType="role">
            <id column="roleId" property="id"/>
            <result column="roleName" property="roleName"/>
            <result column="roleDesc" property="roleDesc"/>
        </collection>
    </resultMap>

    <select id="findUserAndRole" resultMap="userRoleMap">
        SELECT*
        FROM sys_user u,
             sys_user_role ur,-- 中间表
             sys_role r
        WHERE u.id = ur.userId
          AND r.id = ur.roleId;

    </select>
</mapper>